<div id="cookies-eu-banner" style="display: none;">
  <div class="cookies-eu-banner--content">
    <p>This site uses cookies to provide necessary site functionality and improve your experience. By using our website, you agree to our privacy policy and our cookie policy.</p>
    <div class="cookies-eu-banner--buttons">
      <button id="cookies-eu-accept">I'm okay with this</button>
    </div>
  </div>
</div>
