<div id="mc_embed_signup" class="mailchimp-embed">

  <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h5>{{ section.settings.newsletter_sign_up_heading }}</h5>
      <p>{{ section.settings.newsletter_sign_up_text }}</p>

      {%- comment %}
        Real people should not fill this in and expect good things - do not remove this or risk form bot signups
      {% endcomment -%}

      <div style="position: absolute; left: -9999px;" aria-hidden="true">
        <input type="text" name="" tabindex="-1" value="">
      </div>

      <div class="mc-field-group form-group">
        <label for="mce-EMAIL">Email Address</label>
        <div class="form-bar">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

    </div>
  </form>
</div>

<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
