<div class="stockists-tab stockists-bag">

  <h2>France</h2>
  <ul class="city">
    <li><h3>Paris</h3>
      <ul>
        <li>0fr.</li>
        <li>Les Éditions du Kiosque</li>
      </ul>
    </li>
  </ul>

  <h2>Japan</h2>
  <ul class="city">
    <li><h3>Tokyo</h3>
      <ul>
        <li>Dover Street Market</li>
        <li>Tsutaya Books Daikanyama</li>
      </ul>
    </li>
  </ul>

  <h2>South Korea</h2>
  <ul class="city">
    <li><h3>Seoul</h3>
      <ul>
        <li>0fr.</li>
      </ul>
    </li>
  </ul>

  <h2>United Kingdom</h2>
  <ul class="city">
    <li><h3>London</h3>
      <ul>
        <li>Dover Street Market</li>
        <li>Leila's Shop</li>
      </ul>
    </li>
  </ul>

  <h2>United States</h2>
  <div class="country">
    <ul class="city">
      <li><h3>New York</h3>
        <ul>
          <li>Dover Street Market</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Los Angeles</h3>
        <ul>
          <li>Dover Street Market</li>
        </ul>
      </li>
    </ul>
  </div>
  
</div>
