<div class="stockists-tab stockists-magazine">

  <h2>Austria</h2>
  <ul class="city">
    <li><h3>Vienna</h3>
      <ul>
        <li>SONG</li>
      </ul>
    </li>
  </ul>

  <h2>Belgium</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Antwerp</h3>
        <ul>
          <li>IMS, Melkmarkt</li>
          <li>IMS, Stadsfeestzaal</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hasselt</h3>
        <ul>
          <li>IMS</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Leuven</h3>
        <ul>
          <li>IMS</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Canada</h2>

  <div class="country">
    <ul class="city">
      <li><h3>Montreal</h3>
        <ul>
          <li>SSENSE</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Toronto</h3>
        <ul>
          <li>Neighbour</li>
          <li>Soop Soop</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Vancouver</h3>
        <ul>
          <li>Neighbour</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>China</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Zhoushan</h3>
        <ul>
          <li>One Half In</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hong Kong</h3>
        <ul>
          <li>Tomart Limited</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Denmark</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Copenhagen</h3>
        <ul>
          <li>Kihoskh</li>
          <li>Sankt Annæ Kiosk</li>
          <li>Telefonkiosken</li>
          <li>The Apartment</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Allinge</h3>
        <ul>
          <li>Kiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Asnæs</h3>
        <ul>
          <li>Boghandler Sven Madsen</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hammel</h3>
        <ul>
          <li>Centerkiosk</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Herning</h3>
        <ul>
          <li>Super Kiosken Herning</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hirtshals</h3>
        <ul>
          <li>Havnekiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hobro</h3>
        <ul>
          <li>Centralkiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Holbæk</h3>
        <ul>
          <li>Bladcentralen</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Holstebro</h3>
        <ul>
          <li>Struervejs Nærkøb</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hundested</h3>
        <ul>
          <li>Havnekiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Kolding</h3>
        <ul>
          <li>Munkebo Kiosk</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nexø</h3>
        <ul>
          <li>Torvekiosken Nexø</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nykøbing</h3>
        <ul>
          <li>City Kiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Odense C</h3>
        <ul>
          <li>Politikens Kiosk</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Randers C</h3>
        <ul>
          <li>Kioskland</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Ribe</h3>
        <ul>
          <li>Kiosk Centrum</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Rudkøbing</h3>
        <ul>
          <li>Telegramhallen</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Rønne</h3>
        <ul>
          <li>Rådhuskiosken</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Sønderborg</h3>
        <ul>
          <li>Petit Tobaksforretning</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Tisvildeleje</h3>
        <ul>
          <li>Min Købmand</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Tranbjerg</h3>
        <ul>
          <li>Centerkiosk</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Viborg</h3>
        <ul>
          <li>Rutebil Kiosken</li>
          <li>Vestervang Kiosk</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Vejle</h3>
        <ul>
          <li>Turist Kiosken</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Finland</h2>
  <ul class="city">
    <li><h3>Helsinki</h3>
      <ul>
        <li>Nide Bookstore</li>
      </ul>
    </li>
  </ul>

  <h2>France</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Paris</h3>
        <ul>
          <li>OFR</li>
          <li>Astier de Villatte</li>
          <li>Artcurial</li>
          <li>Arteum – Musée des Arts Décoratifs</li>
          <li>Conran Shop</li>
          <li>Drugstore Publicis</li>
          <li>Galerie Yvon Lampert</li>
          <li>Holiday Paris</li>
          <li>Kiliwatch</li>
          <li>Kiosque Alma</li>
          <li>Kiosque Hebbache</li>
          <li>Palais de Tokyo</li>
          <li>WH Smith</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nice</h3>
        <ul>
          <li>Grand Playground</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Marseille</h3>
        <ul>
          <li>Grand Playground</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Germany</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Aachen</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Baden-Baden</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Basel</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Berlin</h3>
        <ul>
          <li>BPV</li>
          <li>Do You Read Me</li>
          <li>Eckert</li>
          <li>Sodabooks</li>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bielefeld</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bochum</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bonn</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Braunschweig</h3>
        <ul>
          <li>Salzmann</li>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bremen</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Buchloe</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Dortmund</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Düsseldorf</h3>
        <ul>
          <li>Grauert</li>
          <li>Leverdy</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Erfurt</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Essen</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Frankfurt</h3>
        <ul>
          <li>PVG</li>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Freiburg</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Gerichshain</h3>
        <ul>
          <li>Leipzig</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hamburg</h3>
        <ul>
          <li>Gudberg Nerger</li>
          <li>PVN</li>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Heidelberg</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Karlsruhe</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Kassel</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Kehl</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Kiel</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Köln</h3>
        <ul>
          <li>Eckert Ludwig</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Konstanz</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Lindau</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Mannheim</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>München</h3>
        <ul>
          <li>Sodabooks</li>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nürnberg</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Pforzheim</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Rastatt</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Regensburg</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Singen</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Starnberg</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Stuttgart</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Ulm</h3>
        <ul>
          <li>Valora</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Villingen</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Weinheim</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Würzburg</h3>
        <ul>
          <li>Schmitt</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>India</h2>
  <ul class="city">
    <li><h3>Mumbai</h3>
      <ul>
        <li>Paper</li>
      </ul>
    </li>
  </ul>

  <h2>Italy</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Online stores</h3>
        <ul>
          <li><a href="https://frabsmagazines.com/" target="_blank" rel="noopener noreferrer">Frab's Magazines &amp; More</a></li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Milan</h3>
        <ul>
          <li>10 Corso Como</li>
          <li>Armani Books</li>
          <li>Kiosque</li>
          <li>Libreria Arabesque</li>
          <li>Libreria Hoepli</li>
          <li>Libreria Rizzoli</li>
          <li>Mondadori</li>
          <li>Serendeepity</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Rome</h3>
        <ul>
          <li>Kiosque</li>
          <li>Kiosque Fagioli</li>
          <li>Kiosque Pieroni</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Turin</h3>
        <ul>
          <li>Libreria Bodoni Spazio B</li>
          <li>Libreria Luxemburg</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Verona</h3>
        <ul>
          <li>Ruzzante</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Japan</h2>
  <ul class="city">
    <li><h3>Tokyo</h3>
      <ul>
        <li>Aoyama Book Center</li>
        <li>Dover Street Market</li>
        <li>Tsutaya Daikanyama</li>
        <li>Tsutaya Tokyo Roppongi</li>
      </ul>
    </li>
  </ul>

  <h2>Lebanon</h2>
  <ul class="city">
    <li><h3>Beirut</h3>
      <ul>
        <li>Papercup</li>
      </ul>
    </li>
  </ul>

  <h2>Lithuania</h2>
  <ul class="city">
    <li><h3>Vilnus</h3>
      <ul>
        <li>Rastine Cafe</li>
      </ul>
    </li>
  </ul>

  <h2>Netherlands</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Amsterdam</h3>
        <ul>
          <li>Athenaeum</li>
          <li>Island Bookstore</li>
          <li>Pantheon Boekhandel</li>
          <li>Scheltema</li>
          <li>The BookShop</li>
          <li>Zwart op Wit Boekhandel</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Alkmaar</h3>
        <ul>
          <li>Libris v.d. Meulen</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bloemendaal</h3>
        <ul>
          <li>Papyrium</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Den Haag</h3>
        <ul>
          <li>Dailyshop Hoytema</li>
          <li>Paagman Den Haag</li>
          <li>Paagman Centrum</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Eindhoven</h3>
        <ul>
          <li>Van Piere</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Groningen</h3>
        <ul>
          <li>Boekhandel van der Velde</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Leeuwarden</h3>
        <ul>
          <li>Boekhandel van der Velde</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Leiden</h3>
        <ul>
          <li>Magazines for You</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Maastricht</h3>
        <ul>
          <li>Boekhandel Dominicanen</li>
          <li>Traders Pop</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Middelburg</h3>
        <ul>
          <li>De Drukkerij</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nijmegen</h3>
        <ul>
          <li>A t/m Z</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Oestgeest</h3>
        <ul>
          <li>De Kler</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Plaats</h3>
        <ul>
          <li>Naam</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Rotterdam</h3>
        <ul>
          <li>Donner Boeken</li>
          <li>Lektuurhal Veenstra</li>
          <li>Tabac &amp; Gifts Maestro</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Scheveningen</h3>
        <ul>
          <li>Boekhandel Scheveningen</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Tilburg</h3>
        <ul>
          <li>Gianotten Mutsaers</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Utrecht</h3>
        <ul>
          <li>Read Shop Express</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Voorschoten</h3>
        <ul>
          <li>Dailyshop Voorschoten</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Wassenaar</h3>
        <ul>
          <li>Dailyshop Wassenaar</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Norway</h2>
  <ul class="city">
    <li><h3>Oslo</h3>
      <ul>
        <li>Narvesen</li>
      </ul>
    </li>
  </ul>

  <h2>Portugal</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Lisbon</h3>
        <ul>
          <li>Under The Cover</li>
          <li>Arturas &amp; Luis</li>
          <li>Bloom Soc Rep Prod Serviços</li>
          <li>Joaquim M Neves Martins</li>
          <li>Liv Barata</li>
          <li>Livraria Bertrand Soc Com Liv</li>
          <li>Magkiosk</li>
          <li>Manoel Francisco Martins Nunes</li>
          <li>Sunrisepress Com Publ Unip</li>
          <li>Tab Pap Fumista</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Aljezur</h3>
        <ul>
          <li>Liliana Patricia Paiva Araujo</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Caldas Da Rainha</h3>
        <ul>
          <li>Dulce Maria Faria Cordeiro</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Caminha</h3>
        <ul>
          <li>Manuel Gomes &amp; Gustavo Gomes</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Cascais</h3>
        <ul>
          <li>Tabacaria Pap Cidadela</li>
          <li>Espaco Riyadh Tabacaria</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Coimbra</h3>
        <ul>
          <li>Antonio Jose Goncalves Almeida</li>
          <li>Joaquim Machado</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Estoril</h3>
        <ul>
          <li>Matos Mota &amp; Betencourt</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Evora</h3>
        <ul>
          <li>Tabacaria Genesis</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Figuiera Da Foz</h3>
        <ul>
          <li>Trevo Com Serv Tab Pap</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Lousa</h3>
        <ul>
          <li>Maria Lina Lima Fernandes Baeta</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Oeiras</h3>
        <ul>
          <li>Tactica Certa Unipessoal</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Olhao</h3>
        <ul>
          <li>Epimente</li>
          <li>Maria Rosario Murta Mendes Almeida</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Porto</h3>
        <ul>
          <li>Isabel &amp; Candida Machado</li>
          <li>Jose Ant Loureiro Lopes Manso</li>
          <li>Livraria Bertrand Soc Com Liv</li>
          <li>M Adelaide Braga Sampaio Correia</li>
          <li>Mcunha Cons Fisc E Cont</li>
          <li>Princesinha Tab Pap</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Porto Salvo</h3>
        <ul>
          <li>Tabtagus Tab Pap</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Sagres</h3>
        <ul>
          <li>Hugo Carvalho Taipa Da Rocha</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Tavira</h3>
        <ul>
          <li>Epimente</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Vila Nova De Famalicao</h3>
        <ul>
          <li>Manuel Jose Malvar Azevedo</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Singapore</h2>
  <ul class="city">
    <li>Basheer Graphic Books</li>
  </ul>

  <h2>Romania</h2>
  <ul class="city">
    <li><h3>Bucharest</h3>
      <ul>
        <li>PUNCH</li>
      </ul>
    </li>
  </ul>

  <h2>South Korea</h2>
  <ul class="city">
    <li><h3>Seoul</h3>
      <ul>
        <li>Bandi &amp; Luni's</li>
        <li>Kyobo Bookstore</li>
        <li>World Magazine</li>
      </ul>
    </li>
  </ul>

  <ul class="city">
    <li><h3>Paju</h3>
      <ul>
        <li>Kyobo Bookstore</li>
      </ul>
    </li>
  </ul>

  <h2>Spain</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Online stores</h3>
        <ul>
          <li><a href="https://playthetambourine.com/" target="_blank" rel="noopener noreferrer">Tambourine</a></li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Madrid</h3>
        <ul>
          <li>El Imparcial</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Barcelona</h3>
        <ul>
          <li>Free Time</li>
        </ul>
      </li>
    </ul>
  </div>


  <h2>Sweden</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Stockholm</h3>
        <ul>
          <li>Papercut</li>
          <li>Press Stop</li>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Göteborg</h3>
        <ul>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Landvetter</h3>
        <ul>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Lund</h3>
        <ul>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Malmö</h3>
        <ul>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Växjö</h3>
        <ul>
          <li>Pressbyrån</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Switzerland</h2>
  <ul class="city">
    <li><h3>Zurich</h3>
      <ul>
        <li>LOREM (not Ipsum)</li>
        <li>Print Matters</li>
      </ul>
    </li>
  </ul>

  <h2>Taiwan</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Taipei</h3>
        <ul>
          <li>books.com Co., Ltd</li>
          <li>Eslite</li>
          <li>M Channel</li>
          <li>Taaze</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Hsinchu</h3>
        <ul>
          <li>Eslite</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Kaohsiung</h3>
        <ul>
          <li>Eslite</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>United Kingdom</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Online stores</h3>
        <ul>
          <li><a href="https://www.antennebooks.com" target="_blank" rel="noopener noreferrer">Antenne Books</a></li>
          <li><a href="https://boutiquemags.com" target="_blank" rel="noopener noreferrer">Boutique Mags</a></li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>London</h3>
        <ul>
          <li>Artwords</li>
          <li>Architectural Association</li>
          <li>Barbican News</li>
          <li>Bolaji Babafemi</li>
          <li>Brixton News</li>
          <li>Camden News</li>
          <li>Cassius &amp; Coco</li>
          <li>Charlotte Street News</li>
          <li>Claire De Rouen</li>
          <li>Colours May Vary</li>
          <li>Compton News</li>
          <li>COS (Coal Drops Yard)</li>
          <li>Diptesh</li>
          <li>Donlon Books</li>
          <li>Dover Street Market</li>
          <li>Foyles</li>
          <li>Fulham News</li>
          <li>Good News</li>
          <li>ICA Bookshop</li>
          <li>Jala News</li>
          <li>John Sandoe</li>
          <li>Kioskafe</li>
          <li>Libreria, Trading as Second Home</li>
          <li>London Borough of Jam</li>
          <li>MagCulture Shop</li>
          <li>Magma</li>
          <li>Magnum News</li>
          <li>Marshall News</li>
          <li>Mayhews</li>
          <li>Modern Society</li>
          <li>National Portrait Gallery</li>
          <li>Parallax Photographic Coop</li>
          <li>Patkins</li>
          <li>Portland News</li>
          <li>Regent News</li>
          <li>Rococo</li>
          <li>Selva</li>
          <li>Shreeji</li>
          <li>SLG Trading Ltd (South London Gallery)</li>
          <li>Smith Project Co. Ltd</li>
          <li>Somerset House</li>
          <li>St Martins News</li>
          <li>Studio Chehade</li>
          <li>Sunday Books</li>
          <li>Tate Modern (Turbine Shop)</li>
          <li>Tenderbooks</li>
          <li>The Concern Newsstand</li>
          <li>Thrive News, Westfield Centre</li>
          <li>The Photographers’ Gallery</li>
          <li>Ti Pi Tin</li>
          <li>TOAST</li>
          <li>Walther Koenig Books Ltd (Serpentine Gallery)</li>
          <li>Wardour News</li>
          <li>WHS Selfridges</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bath</h3>
        <ul>
          <li>Magalleria</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Brighton</h3>
        <ul>
          <li>Magazine Brighton Ltd</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Bristol</h3>
        <ul>
          <li>Papersmith</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Leeds</h3>
        <ul>
          <li>Village Bookstore</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Manchester</h3>
        <ul>
          <li>Magma</li>
          <li>Object</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Newcastle Upon Tyne</h3>
        <ul>
          <li>Unique Magazines</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Nottingham</h3>
        <ul>
          <li>Ideas On Paper</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Sheffield</h3>
        <ul>
          <li>La Biblioteka</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Stockport</h3>
        <ul>
          <li>Rare Mags</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Winchester</h3>
        <ul>
          <li>The Hambledon</li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>United States</h2>
  <div class="country">
    <ul class="city">
      <li><h3>Barnes &amp; Noble</h3></li>
    </ul>
    <ul class="city">
      <li><h3>New York</h3>
        <ul>
          <li>Around the World</li>
          <li>Casa Magazines</li>
          <li>Dover Street Market</li>
          <li>Global News Inc</li>
          <li>Import News</li>
          <li>Magazine Café</li>
          <li>McNally Jackson Books</li>
          <li>MoMA PS1, Artbook</li>
          <li>Mulberry Iconic Magazines</li>
          <li>Regular Visitors LLC</li>
          <li>Soho News</li>
          <li>Spoonbill &amp; Sugartow</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Los Angeles</h3>
        <ul>
          <li>Basha Newsstand</li>
          <li>Book Soup</li>
          <li>Centerfold Newsstand</li>
          <li>Century World</li>
          <li>Hauser &amp; Wirth, Artbook</li>
          <li>King’s Newsstand</li>
          <li>Kosher News</li>
          <li>Larchmont Above</li>
          <li>National News</li>
          <li>Robertson Magazine</li>
          <li>Sheltam Newsstand</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Atlanta</h3>
        <ul>
          <li>Quick Quick</li>
        </ul>
      </li>
    </ul>

    <ul class="city">
      <li><h3>Brentwood</h3>
        <li>
          <ul>
            <li>Brentwood Newsstand</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Buena Park</h3>
          <ul>
            <li>Long Beach Travel</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Chicago</h3>
          <ul>
            <li>City Newsstand</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Encino</h3>
          <ul>
            <li>All American Newstand</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Evanston</h3>
          <ul>
            <li>Chicago Main Newsstand</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Fort Lauderdale</h3>
          <ul>
            <li>Bobs News and Books</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Laredo</h3>
          <ul>
            <li>CBB Chocolates</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Manhattan Beach</h3>
          <ul>
            <li>Current events</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Miami</h3>
          <ul>
            <li>Lower East Coast</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Oak Park</h3>
          <ul>
            <li>The Book Table</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Oakland</h3>
          <ul>
            <li>Issues</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Philadelphia</h3>
          <ul>
            <li>Avril Fifty</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Portland</h3>
          <ul>
            <li>Rich’s Cigar Store</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>San Francisco</h3>
          <ul>
            <li>Fog City News</li>
            <li>Juicy News SF</li>
            <li>Smoke Signals</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>San Diego</h3>
          <ul>
            <li>Bookstar</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Savannah</h3>
          <ul>
            <li>Pulp Books Savannah</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Seattle</h3>
          <ul>
            <li>Bulldog News</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Sherman Oaks</h3>
          <ul>
            <li>Sherman Oaks News</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Studio City</h3>
          <ul>
            <li>Bookstar</li>
            <li>Canyon News</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Valencia</h3>
          <ul>
            <li>Valencia News</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Washington DC</h3>
          <ul>
            <li>Maketto 1351</li>
          </ul>
        </li>
      </ul>

      <ul class="city">
        <li><h3>Woodland Hills</h3>
          <ul>
            <li>What’s News JR</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
