// Tabs
.tabs {
  margin: $spacer 0;
}
.tabs ul {
  margin: 0 0 $spacer 0;

  li {
    display: inline-block;

    a {
      margin: 0 0 0 $spacer;
    }

    a.selected {
      color: $black;
      padding-bottom: 5px;
      border-bottom: 2px solid $medium-grey;
    }
    
    &:first-child a {
      margin: 0 $spacer 0 0;
    }
  }
}
