.instagram {
  padding: $spacer3 0 0;
  @media screen and (max-width: $small-screen) {
   padding: $spacer $small-site-gutters;
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.instagram-feed {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
  .item-image img {
    @include image;
  }
}
