// Nav - this is the slide down style nav
$nav-link: $black;
$nav-link-hover: $dark-grey;
$nav-link-active: $dark-grey;

$sub-nav-link: $black;
$sub-nav-link-hover: $black;

.main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $header-white;
  transform: translateY(-100%);
  transition: transform $trans-time;
  overflow-x: scroll;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.site-nav-is-open .main-nav {
  transform: translateY(0);
  transition: transform $trans-time;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.site-nav-is-open {
  .site-nav {
    opacity: 1;
  }
}

.main-nav {
  .cancel {
    z-index: 2;
    position: fixed;
    top: 28px;
    right: 59px;
    cursor: pointer;

    svg {
      stroke: $black;
    }
  }
}

.site-nav {
  transition: opacity $trans-time;
  position: relative;
  top: $spacer6;
  margin: 0 $site-gutters;
  padding-top: $spacer * 2;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @media screen and (max-width: $small-screen) {
    margin: 0 $small-site-gutters;
    top: $spacer4;
  }

  .nav-item {
    margin-bottom: $spacer;
    @media screen and (max-width: $small-screen) {
        margin-bottom: $spacer / 2;
    }
  }

  a {
    transition: color $trans-time;
    font-size: $base-font-size * 1.5;
    color: $nav-link;
    &:hover {
      color: rgba($nav-link-hover, 0.5);
    }
  }

  .sub-nav {
    display: flex;
    @media screen and (max-width: $small-screen) {
      display: inline-block;
    }
    li {
      display: inline-flex;
      margin-right: $spacer;
      @media screen and (max-width: $small-screen) {
        margin-right: $spacer / 2;
      }
    }
    a {
      font-size: $base-font-size * 1.25;
    }
  }

}

.trigger-nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
    align-items: stretch;
  }

  li {
    border-left: 1px solid $light-grey;
    padding: $spacer;
    @media screen and (max-width: $small-screen) {
      padding: $spacer $spacer / 2;
    }
    &:first-of-type {
      border: none;
    }
    span {
      font-size: $base-font-size * 1.125; // 18px
    }
  }

  .basket-total {
    position: relative;
    top: -4px;
    @media screen and (max-width: $tiny-screen) {
      @include hide;
    }
  }
}

.sub-nav--trigger .icon {
  @include show;
    svg {
      position: relative;
      top: 2px;
      transform: rotate(-90deg);
    }
  }

.site-nav {
  .sub-nav {
    @include hide;
    li {
      display: block;
      padding: $spacer / 4 0;
    }
  }
  .sub-nav--open {
    @include show;
    display: block;
    margin-left: $spacer / 2;
  }
}
