<header class="page-header">
  <h1>{{ page.title }}</h1>
</header>

<div class="page stockists-page">

  <article class="page-content">
    <div class="rich-text">
      {{ page.content }}
    </div>
  </article>

</div>
