<header class="page-header">
  <h1>{{ page.title }}</h1>
</header>

<div class="page page-with-sidebar">

  <article class="content">
    <div class="rich-text">
      {{ page.content }}
    </div>
  </article>

  {% section 'page-sidebar' %}

</div>
