<header class="page-header">
  <h1>{{ page.title }}</h1>
</header>

<div class="page about-page">

  {% if page.content contains "<img" %}
  {% assign src = page.content | split: 'src="' %}
  {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
  {% endif %}

  <article>
    <div class="rich-text">
      {{ page.content | replace_first: '<img','<img class="first"' }}
    </div>
  </article>

  {% if page.content contains "<img" %}
  <div class="image">
    <img src="{{ src }}" alt="{{ page.title }}">
  </div>
  {% endif %}

</div>
