.template-blog {

  .blog-entries {
    display: grid;
    grid-template-columns: ([sidebar] auto [content] 61.8%);
    grid-column-gap: $spacer6;
    grid-template-rows: auto;
  }

  .blog-archive {
    grid-column-start: content;
    grid-row-start: 1;

    .blog-entry {
      padding-bottom: $spacer6;
      @media screen and (max-width: $small-screen) {
        padding-bottom: $spacer3;
      }

      .more {
        float: right;
      }

      .more svg {
        position: relative;
        top: 7px;
      }

      .post-meta {
        @include hide;
      }
    }
  }
}
