.customer-accounts {
  padding: $spacer2 0;
}

.template-customers-login .customer-accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-success, {
  flex: 0 100%;
}

.customer-activate-form
.customer-addresses,
.customer-guest-login-form,
.customer-login-form,
.customer-new-address,
.customer-recover-password-form,
.customer-register-form {
  flex: 0 50%;
  padding: $spacer2;
  width: 50%;
  @media screen and (max-width: $small-screen) {
    flex: 0 100%;
    padding: $spacer;
    width: 100%;
  }
}

.form-links {
  padding: $spacer3 0;
  li {
    display: inline-flex;
    margin-right: $spacer;
  }
}

.customer-account-order-table {
  margin-bottom: $spacer4;

  th, td {
    border-bottom: 1px solid $table-borders;
    border-left: 1px solid $table-borders;
    padding: $spacer;

    &:first-of-type {
      border-left: none;
    }
  }

}
