/* Pages */

.template-404 {
  .page-header h1 {
    text-align: center;
  }
  .page p {
    margin: 0 auto $spacer10;
  }
}

.page-header h1 {
  text-transform: uppercase;
  font-size: $base-font-size * 2;
  @media screen and (max-width: $small-screen) {
    font-size: $base-font-size * 1.5;
  }
  @media screen and (max-width: $tiny-screen) {
    font-size: $base-font-size * 1.25;
  }
}

.page {
  display: flex;
  flex-direction: row;
  padding: 0 0 $spacer3;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  article {
    flex: 2;
    padding-right: $spacer6;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
      padding: 0;
    }

    img.first {
      display: none;
    }
  }

  .image {
    flex: 1;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
    }
    img {
      @include image;
    }
  }
}

.contact-page {
  article {
    padding: 0;
  }
}

// page with sidebar
.page-with-sidebar {

  article {
    flex: 2;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
    }
    img.first {
      display: none;
    }
  }

  .section-page-sidebar {
    flex: 1;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
      padding: 0;
    }
  }

  .image img {
    @include image;
  }
}

// Stockists page
.stockists-page-header {
  text-align: center;
  @media screen and (max-width: $small-screen) {
    text-align: left;
  }
}

.stockists-page {

  .tabs {
    width: 100%;

    a {
      display: block;

      &:hover {
        color: $black;
      }
    }

    a.selected {
      color: $black;
      border-bottom: 2px solid $black;
    }
  }

  .tab-controls {
    display: flex;
    justify-content: center;
    @media screen and (max-width: $small-screen) {
      justify-content: space-between;
    }

    .tab-icon {
      width: 90px;
      @media screen and (max-width: $small-screen) {
        width: 45px;
      }
    }

    li {
      margin: 0 $spacer2;
      padding: $spacer;
      text-align: center;
      @media screen and (max-width: $small-screen) {
        margin: 0;
      }

      span {
        display: block;
      }
    }
  }
}

.tab {
  max-width: 100%;

  ul li ul {
    margin: 0;
  }
}

.stockists-tab {
    h2 {
      margin-top: $spacer3;
    }
    .country {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media screen and (max-width: $small-screen) {
        display: block;
      }
    }

    .city {
      ul li {
        display: block;
      }
    }
  }

.stockists-wine {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: $small-screen) {
      display: block;
      li {
        display: block;
      }
    }
  }
}
