/* Pages */

.page-header h1 {
  font-size: $base-font-size * 2;
}

.page {
  display: flex;
  flex-direction: row;
  padding: 0 0 $spacer3;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  article {
    flex: 2;
    padding-right: $spacer6;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
      padding: 0;
    }

    img.first {
      display: none;
    }
  }

  .image {
    flex: 1;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
    }
    img {
      @include image;
    }
  }
}

.contact-page {
  article {
    padding: 0;
  }
}

// page with sidebar
.page-with-sidebar {

  article {
    flex: 2;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
    }
    img.first {
      display: none;
    }
  }

  .section-page-sidebar {
    flex: 1;
    @media screen and (max-width: $small-screen) {
      flex: 1 100%;
      width: 100%;
      padding: 0;
    }
  }

  .image img {
    @include image;
  }
}

// Stockists styles
.stockists-page {

  article {
    padding: 0;
  }

  .rich-text {
    max-width: 100%;

    .row {
      clear: both;
      width: 100%;
    }

    .cols {
      display: flex;
      @media screen and (max-width: $small-screen) {
        flex-flow: column nowrap;
      }
    }

    .small {
      flex: 1 33%;
      @media screen and (max-width: $small-screen) {
        flex: 1 100%;
        width: 100%;
      }

      > li {
        margin-bottom: $spacer;
      }
    }

    li {
      list-style: none;
    }

    .upper {
      text-transform: uppercase;
    }

    em {
      font-weight: $bold;
      font-style: normal;
    }
  }

}
