.template-password {
  background: $password-page-background;
  padding-top: $spacer6;
  color: $password-page-text;

  .password-page {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .password-form, .password-signup-form {
    margin: $spacer3 0 0;
  }

  .password-form {
    display: flex;
    flex-flow: column;

    input[type="password"] {
      margin: $spacer 0;
    }
  }

}
