.template-password {
  background: $password-page-background;
  padding-top: $spacer6;
  color: $password-page-text;

  h1 {
    font-size: $base-font-size * 6;
  }

  .password-page {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .password-signup-form {
    margin: $spacer3 0 0;

    label {
      @include hide;
    }
  }

  .form-bar {
    margin: $spacer 0 0 0;
    input[type="password"] {
      flex: 1;
      margin: 0;
    }
  }

}
