// Search form
.search-form {
  @include overlay;

  form {
    position: relative;
    top: $spacer5;
    width: 50%;
    margin: auto;

    @media screen and (max-width: $small-screen) {
      width: 100%;
      flex-direction: column;
    }

    label {
      display: block;
      color: $black;
      font-size: $heading;
      padding-bottom: $spacer;
      text-align: center;
    }

    .form-search-bar {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      @media screen and (max-width: $small-screen) {
        flex-direction: column;
      }
    }

    .search-input {
      @include transition(all);
      background: $purewhite;
      border: 1px solid $border-colour;
      color: $base-font-colour;
      font-family: $font-family-sans;
      font-size: $base-font-size;
      margin: 0;
      padding: $spacer;
      position: relative;
      @media screen and (max-width: $small-screen) {
        text-align: center;
      }
    }

    .button {
      @media screen and (max-width: $small-screen) {
        margin-top: $spacer;
      }
    }

  }
}

.search-form-is-open .search-form {
  @include overlay-open;
}

.search-form-is-open {
  overflow: hidden;
  .cancel {
    z-index: 2;
  }
}

.search-form {
  .cancel {
    z-index: 2;
    position: fixed;
    top: $spacer;
    right: $small-site-gutters;
    cursor: pointer;

    svg {
      stroke: $black;
    }
  }
}

// Search Template
.template-search {

  .search-bar {
    width: 50%;
    margin: auto;

    @media screen and (max-width: $small-screen) {
      width: 100%;
      padding: 0 $spacer * 2;
      flex-direction: column;
    }

    .form-group {
      padding: 0 0 $spacer4;
    }

    .form-search-bar {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    label {
      @include hide;
    }

  }
}
